.hero-container {
    min-height: calc(100vh - 80px);
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-container {
        min-height: calc(100vh - 80px);
        padding: 1rem 0;
    }
}
