.navbar-container {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.navbar {
    color: #555;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li a {
    color: #555;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #222;
}
